# Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for everything
* @rsdenck

# GitHub Actions
.github/ @rsdenck

# Go Code
**/*.go @rsdenck
